:root, body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh !important;       /* Fix iPad bottom cutoff */
  background: #121212 !important;  /* Kill white flash */
  overflow-x: hidden;

}